In [19]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

webhook_site_url = 'https://customer.guru/net-promoter-score/fortune-500'

# Send a GET request to retrieve the data
response = requests.get(webhook_site_url)

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(response.content, 'html.parser')

table = soup.find_all('table')
rows = soup.find_all('tr')
   
data = []

for row in rows:
    cells = row.find_all('td')
    row_data = [cell.text.strip() for cell in cells]
    data.append(row_data)

# Define column names
column_names = ['ID', 'IMG', 'COMPANY', 'INDUSTRY', 'WEBSITE', 'NPS_SCORE', 'PROMOTER_SCORE']

df = pd.DataFrame(data, columns=column_names)
print(df)

       ID IMG                    COMPANY  \
0       1                        Walmart
1       2                    Exxon Mobil
2       3                        Chevron
3       4             Berkshire Hathaway
4       5                          Apple
..    ...  ..                        ...
963   996             Universal American
964   997                            AAR
965   998      Selective Insurance Group
966   999                        Gartner
967  1000              E*Trade Financial

                                     INDUSTRY                 WEBSITE  \
0                       General Merchandisers  corporate.walmart.com/
1                          Petroleum Refining          exxonmobil.com
2                          Petroleum Refining            chevron.com/
3    Insurance: Property and Casualty (Stock)   berkshirehathaway.com
4               Consumer Brands / Electronics   https://www.apple.com
..                                        ...                     ...
963   Health Care: Insurance and Managed Care   universalamerican.com
964                     Aerospace and Defense            aarcorp.com/
965  Insurance: Property and Casualty (Stock)          selective.com/
966           Information Technology Services            gartner.com/
967                                Securities  https://www.etrade.com

    NPS_SCORE                                     PROMOTER_SCORE
0          -4              Walmart Net Promoter Score Benchmarks
1           2          Exxon Mobil Net Promoter Score Benchmarks
2           5              Chevron Net Promoter Score Benchmarks
3          -6   Berkshire Hathaway Net Promoter Score Benchmarks
4          47                Apple Net Promoter Score Benchmarks
..        ...                                                ...
963        -7   Universal American Net Promoter Score Benchmarks
964        -7                  AAR Net Promoter Score Benchmarks
965        -6  Selective Insurance Group Net Promoter Score B...
966        -3              Gartner Net Promoter Score Benchmarks
967        -6    E*Trade Financial Net Promoter Score Benchmarks

[968 rows x 7 columns]

In [1]:
# import the pyodbc
import pyodbc

# Define the MSSQL connection string
server_name = "AGLJ-LAP-032"
database_name = "master"
username = "sqladmin"
password = "Admin@12345"
# Set up the database connection
con_string = (
    f"Driver={{SQL Server}};"
    f"Server={server_name};"
    f"Database={database_name};"
    f"UID={username};"
    f"PWD={password};"
)
# connect the variable to the server
conn = pyodbc.connect(con_string)

if conn:
    print("Connection established.")
else:
    print("Connection failed.")

Connection established.

In [23]:
# Create the SQL table
def create_table(conn):
    cursor = conn.cursor()

    # Check if the table exists
    if cursor.tables(table='Truuu', tableType='TABLE').fetchone():
        # If the table exists, drop it
        drop_table_query = "DROP TABLE Truuu"
        cursor.execute(drop_table_query)
        print("Table 'Truuu' dropped.")

    # Create the table
    create_table_query = """
    CREATE TABLE Truuu  
    (
        ID INT NULL, 
        IMG VARCHAR(20) NULL, 
        COMPANY VARCHAR(200) NULL, 
        INDUSTRY VARCHAR(200) NULL, 
        WEBSITE VARCHAR(200) NULL,
        NPS_SCORE INT NULL,
        PROMOTER_SCORE VARCHAR(200) NULL
    )
    """
    cursor.execute(create_table_query)
    print("Table 'Truuu' created.")

# Create a connection to the database
conn = pyodbc.connect(con_string)

# Call the create_table function
create_table(conn)

# Close the connection
conn.close()

Table 'Truuu' dropped.
Table 'Truuu' created.

In [22]:
# Insert data into the SQL table
cursor = conn.cursor()
for _, row in df.iterrows():
    insert_query = """
    INSERT INTO Truuu (ID, IMG, COMPANY, INDUSTRY, WEBSITE, NPS_SCORE, PROMOTER_SCORE) 
    VALUES (?, ?, ?, ?, ?, ?, ?)
    """
    values = tuple(row)
    cursor.execute(insert_query, values)

conn.commit()

In [24]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import pyodbc
import warnings

warnings.filterwarnings("ignore", message="indexing past lexsort depth may impact performance")

webhook_site_url = 'https://customer.guru/net-promoter-score/top-brands'

# Send a GET request to retrieve the data
response = requests.get(webhook_site_url)

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(response.content, 'html.parser')

table = soup.find_all('table')
rows = soup.find_all('tr')

data = []

for row in rows:
    cells = row.find_all(['th', 'td'])
    row_data = [cell.text.strip() for cell in cells]
    data.append(row_data)

table = soup.find_all('table')
rows = soup.find_all('thead')

col = []

for row in rows:
    cells = row.find_all('th')
    row_data = [cell.text.strip() for cell in cells]
    col.append(row_data)

# Define column names
# column_names = ['ID', 'IMG', 'COMPANY', 'INDUSTRY', 'WEBSITE', 'NPS_SCORE', 'PROMOTER_SCORE']

df = pd.DataFrame(data, columns=col)
print(df)

# Define the MSSQL connection string
server_name = "AGLJ-LAP-032"
database_name = "master"
username = "sqladmin"
password = "Admin@12345"
# Set up the database connection
con_string = (
    f"Driver={{SQL Server}};"
    f"Server={server_name};"
    f"Database={database_name};"
    f"UID={username};"
    f"PWD={password};"
)
# connect the variable to the server
conn = pyodbc.connect(con_string)

if conn:
    print("Connection established.")
else:
    print("Connection failed.")

# Create the SQL table
table_name = 'Dataleak'

create_table_query = f"CREATE TABLE {table_name} ("
unique_columns = set()  # Set to store unique column names

for column in df.columns:
    # Modify the column name if it is already in the set of unique columns
    modified_column = column
    counter = 1
    while modified_column in unique_columns:
        modified_column = f"{column}_{counter}"
        counter += 1
    
    unique_columns.add(modified_column)  # Add the modified column name to the set of unique columns
    
    column_datatype = "VARCHAR(255)"  # Set the data type to VARCHAR(255) for all columns
    create_table_query += f"[{modified_column}] {column_datatype}, "

# Remove the trailing comma and space
create_table_query = create_table_query[:-2]
create_table_query += ")"

# cursor.execute(create_table_query)

if (create_table_query):
    print('created good')
else:
    print('error')
conn.commit()

              Company                       Industry  \
0     1         Apple  Consumer Brands / Electronics
1     2        Google     Consumer Brands / Internet
2     3     Microsoft          Technology / Software
3     4     Coca-Cola                      Beverages
4     5      Facebook     Consumer Brands / Internet
..  ... ..        ...                            ...
95   96       Philips  Consumer Brands / Electronics
96   97         Prada                         Luxury
97   98           RBC             Financial Services
98   99       Hershey         Food Consumer Products
99  100        Costco      Consumer Brands / Grocery

                       Website NPS Score  \
0        https://www.apple.com        47
1                   google.com        11
2   https://www.microsoft.com/        45
3                                      0
4    https://www.facebook.com/       -21
..                         ...       ...
95                                    33
96                   prada.com        -5
97                     rbc.com        -6
98        hersheyicecream.com/        -1
99                  costco.com        79


0       Apple Net Promoter Score Benchmarks
1      Google Net Promoter Score Benchmarks
2   Microsoft Net Promoter Score Benchmarks
3   Coca-Cola Net Promoter Score Benchmarks
4    Facebook Net Promoter Score Benchmarks
..                                      ...
95    Philips Net Promoter Score Benchmarks
96      Prada Net Promoter Score Benchmarks
97        RBC Net Promoter Score Benchmarks
98    Hershey Net Promoter Score Benchmarks
99     Costco Net Promoter Score Benchmarks

[100 rows x 7 columns]
Connection established.
created good

In [1]:
import sqlalchemy


print(sqlalchemy.__version__)

2.0.16